<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>MacTools</string>
	<key>CFBundleIdentifier</key>
	<string>com.leon4z.MacTools</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MacTools</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>MacTools URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mactools</string>
			</array>
		</dict>
	</array>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.6.1</string>
	<key>CFBundleVersion</key>
	<string>31</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDisplayName</key>
	<string>MacTools</string>
	<key>SUFeedURL</key>
	<string>https://github.com/leon4z/MacTools/releases/latest/download/mactools-appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>HzvyI4fJGrsTGRUUIe3G66fH19IqiJl8wOBKZsXH9e4=</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
</dict>
</plist>
